# this section describes general aspects of the live streaming session
[general]
duration        = 0        # duration of encoding, in seconds. 0 means forever
bufferSecs      = 3         # size of internal slip buffer, in seconds
reconnect       = yes       # reconnect to the server(s) if disconnected
realtime        = yes       # run the encoder with POSIX realtime priority
rtprio          = 3         # scheduling priority for the realtime threads

# this section describes the audio input that will be streamed
[input]
device          = plug:micboost   # OSS DSP soundcard device for the audio input
sampleRate      = 16000    # sample rate in Hz. try 11025, 22050 or 44100
bitsPerSample   = 16        # bits per sample. try 16
channel         = 1         # channels. 1 = mono, 2 = stereo

# this section describes a streaming connection to an IceCast2 server
# there may be up to 8 of these sections, named [icecast2-0] ... [icecast2-7]
# these can be mixed with [icecast-x] and [shoutcast-x] sections
[icecast2-0]
bitrateMode     = cbr       # average bit rate
format          = mp3     # format of the stream: ogg vorbis
bitrate         = 64       # bitrate of the stream sent to the server
server          = 0.0.0.0
                             # host name of the server
port            = 8081       # port of the IceCast2 server, usually 8000
password        = 54321a     # source password to the IceCast2 server
mountPoint      = audio.mp3 # mount point of this stream on the IceCast2 server
name            = Turntable.fm
                            # name of the stream
description     = exiva rebroadcasting Turntable.fm
                            # description of the stream
url             = http://rpi.local:8081
                            # URL related to the stream
genre           = music     # genre of the stream
public          = no        # advertise this stream?
localDumpFile	= /home/pi/dump.mp3  # local dump file
